# Maven / Java
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Kotlin / Gradle
.kotlin

# IntelliJ IDEA
*.iml
*.iws
*.ipr
.idea/libraries/
.idea/modules.xml
.idea/compiler.xml
.idea/jarRepositories.xml
/.idea/workspace.xml
/.idea/shelf/

# Eclipse
.classpath
.project
.factorypath
.settings/
.apt_generated/
.springBeans/
.sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
logs/